# Bienvenue !

Avant de commencer cliquez sur Fichier puis Enregistrer une copie.

Ceci est un notebook Jupyter. Il est composé de plusieurs cellules qui sont soit des cellules de code Python (comme la suivante) ou de texte Markdown (celle-ci). Vous pouvez ajouter des cellules avec les boutons +Code et +Texte au dessus.


Pour lancer une cellule vous pouvez
- Dans la barre de menu, cliquer sur Runtime, puis sur Run the focused cell (ou run all...).
- Presser simultanément les touches Ctrl + Entrée.


Pour tous les TP/TD/projet, je vous recommande de faire vos recherches sur Google en anglais. Il y a beaucoup de resources débutant disponibles en français, mais plus vous monterez en compétences et moins vous trouverez d'informations en français. Je vous conseille aussi de privilégier les moteurs de recherche aux IA générationnelles, ou d'utilisez une IA générationnelle comme vous poseriez une question à un professeur : vous pouvez me poser une question sur une notion à la quelle vous avez déjà réfléchi par vous même et comprenez mal, vous ne me demandez pas juste de répondre à une question pour vous.

C'est parti !

# Nouvelle section

<span style="background-color:PapayaWhip"> Prenez un moment pour vous familiariser avec l'interface. Cliquez sur les boutons de menus en haut pour voir toutes les possibilités.</span>

In [5]:
# Cette cellule sert à importer des libraires (ou packages) Python
# qui contiennent des fonctions dont nous avons besoin
import numpy as np, pandas as pd
import sklearn
import matplotlib.pyplot as plt
import seaborn as sns

# Manipulation de Python

<span style="background-color:PapayaWhip"> Complétez la cellule suivante pour créer et appeler une fonction permettant de faire la somme d'une liste.</span>

In [13]:
mes_nombres = [3, 8, 2, 5, 6]

def somme_liste(nombres):
    somme = 0
    for n in nombres:
       somme += n


    return somme

print(somme_liste(mes_nombres))

24



> Ajouter une citation

In [34]:
mes_nombres = [3, 8, 2, 5, 6]

def max_liste(nombres):
    max=0
    for i in nombres:

      if max < i:
       max = i

    return max
print(max_liste(mes_nombres))

8


<span style="background-color:PapayaWhip"> En vous servant des 2 fonctions précédantes, créez une fonction prenant en entrée une liste de listes, calcule la somme de chaque liste à l'intérieur et retourne la plus grande somme.</span>

In [41]:
listes = [[3, 8, 2, 5, 6], [10, 20, 30], [4, 5, 9], [7, 1, 8]]


def max_somme_liste(liste_de_listes):
    max_somme = 0
    for sous_liste in liste_de_listes:
        somme_sous_liste = somme_liste(sous_liste)
        if somme_sous_liste > max_somme:
            max_somme = somme_sous_liste
    return max_somme


print(max_somme_liste(listes))

60

<span style="background-color:PapayaWhip"> Utilisez la fonction numpy pour caculer la somme d'une liste en seule ligne. Faites de même pour le maximum.</span>

In [ ]:
import numpy as np

# Familiarisation avec pandas

## Données

Les données que nous allons utiliser pour plusieurs TP correspondent à une version modifiée et très réduite du jeu de données [RT-IOT 2022](https://archive.ics.uci.edu/dataset/942/rt-iot2022), qui est un jeu de données de détection d'intrusion sur une infrastructure IOT. Ce jeu de données a été choisi de manière à vous montrer l'intérêt du module non seulement pour les ILIA, mais pour SE et SQR.
Prenez le temps de cliquer sur le lien pour lire le descriptif des données. Regardez également l'article de recherche joint, notamment la figure 2 et le nom des devices IOT inclues.

Ce jeu de données peut être directement importé en utilisant le package du site, la ligne suivante permet de l'installer.

In [42]:
!pip install ucimlrepo

Requirement already satisfied: ucimlrepo in /usr/local/lib/python3.10/dist-packages (0.0.7)
Requirement already satisfied: pandas>=1.0.0 in /usr/local/lib/python3.10/dist-packages (from ucimlrepo) (2.1.4)
Requirement already satisfied: certifi>=2020.12.5 in /usr/local/lib/python3.10/dist-packages (from ucimlrepo) (2024.8.30)
Requirement already satisfied: numpy<2,>=1.22.4 in /usr/local/lib/python3.10/dist-packages (from pandas>=1.0.0->ucimlrepo) (1.26.4)
Requirement already satisfied: python-dateutil>=2.8.2 in /usr/local/lib/python3.10/dist-packages (from pandas>=1.0.0->ucimlrepo) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.10/dist-packages (from pandas>=1.0.0->ucimlrepo) (2024.2)
Requirement already satisfied: tzdata>=2022.1 in /usr/local/lib/python3.10/dist-packages (from pandas>=1.0.0->ucimlrepo) (2024.1)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.10/dist-packages (from python-dateutil>=2.8.2->pandas>=1.0.0->ucimlrepo) (1.16.0)

Cliquez sur le lien, copiez collez les instructions permettant d'importer le jeu de données en Python et lancez les dans la cellule suivante.


Nous allons utiliser pandas, qui permet de gérer des tableaux avec des noms de lignes et des noms de colonnes. Le tableau est de type DataFrame, (parfois raccourci en df). Le nom des lignes se nomme index.
Lorsque le tableau n'a qu'une dimension (une ligne ou une colonne), il est de type Series et non DataFrame.

Parcourez rapidement ce tutoriel pandas : https://pandas.pydata.org/docs/getting_started/intro_tutorials/03_subset_data.html#min-tut-03-subset
. Vous pourrez y revenir par la suite, ce tutoriel vous aidera pour plusieurs des questions suivantes !

<span style="background-color:PapayaWhip"> Comparez les affichages des 3 prochaines cellules. Quelles sont les différences ? Lequel allez-vous utiliser par la suite ?</span>

In [19]:
X

NameError: name 'X' is not defined

In [ ]:
print(X)

In [ ]:
X.head(5)

<span style="background-color:PapayaWhip"> Affichez la taille de la dataframe. Combien y a-t-il de lignes ? De colonnes ? </span>

<span style="background-color:PapayaWhip"> Affichez le nom des colonnes de la dataframe. </span>

<span style="background-color:PapayaWhip"> Complétez les **deux** cellules suivantes </span>

In [ ]:
# Il est possible d'accéder aux lignes et colonnes à partir de leur nom
print("Afficher la ligne d'index 82 et la colonne flow_duration :")
display(X.loc[..., ...])

print("Afficher la ligne d'index 82 et toutes les colonnes :")
# Il n'y a qu'une ligne, donc une seule dimension. C'est une Serie non plus une DataFrame
...

print("Afficher les lignes d'index 82 et 156 et toutes les colonnes :")
...

print("Afficher toutes les lignes et la colonne 'flow_duration' :")
...

print("Afficher toutes les lignes et les colonnes 'flow_duration' et 'service' :")
...

In [ ]:
# Il est aussi possible d'accéder aux lignes et colonnes à partir de leur numéro (attention, ça commence à 0)

print("Afficher la première ligne (toutes les colonnes) :")
display(X.iloc[..., ...]) # Il n'y a qu'une ligne, donc une seule dimension. C'est une Serie et non plus un DataFrame

print("Afficher les ligne d'index 1 à 5 (toutes les colonnes) :")
...

print("Afficher les 3 premières colonnes (toutes les lignes) :")
...

# Nettoyage des données

<span style="background-color:PapayaWhip"> En utilisant https://pandas.pydata.org/docs/reference/api/pandas.Series.value_counts.html
affichez toutes les valeurs présentes dans la variable y (le label) ainsi que le nombre de lignes ayant cette valeur </span>

Attack_type
DOS_SYN_Hping                 94659
Thing_Speak                    8108
ARP_poisioning                 7750
MQTT_Publish                   4146
NMAP_UDP_SCAN                  2590
NMAP_XMAS_TREE_SCAN            2010
NMAP_OS_DETECTION              2000
NMAP_TCP_scan                  1002
DDOS_Slowloris                  534
Wipro_bulb                      253
Metasploit_Brute_Force_SSH       37
NMAP_FIN_SCAN                    28
Name: count, dtype: int64

En regardant la figure 2 de l'article de recherche (à partir du lien décrivant les données), quelles devices IOT reconnaissez-vous dans la liste des labels ? Laquelle manque ?

Créez une liste `normal` contenant les noms corrsepondants à des devices IOT (les autres correspondants à des attaques)
Créez ensuite une variable `is_normal` qui vérifie si chaque valeur dans y est normale ou non. Combien y a-t-il de lignes correspondants à des attaques ?

Regardez toutes les colonnes de X. Quelles colonnes ne sont pas numériques ? Supprimez-les de X et vérifiez que toutes les variables sont maintenant numériques.

# Bonus

Affichez les valeurs moyennes, l'écart type, le min et le max de chaque variable. Affichez l'histogramme de variables vous semblant intéressantes, ainsi que le scatter plot d'un couple de variables pour voir leur relation